body {
    font-family: Montserrat, sans-serif;
    background-color: azure;
}

#mainNavbar .navbar-brand {
    color: #800080;
    font-size: 1.3em;
    font-weight: 600;
}

.navbar-toggler {
    background-color: #800080;
}
.navbar-toggler:hover {
    background-color: #000000;
}

#mainNavbar .nav-link {
    color: black;
}
#mainNavbar .nav-link:hover {
    color: #800080;
    font-weight: 600;
}

#contentOne {
    font-family: Playfair Display, sans-serif;
    font-size: 1.5em;
    font-weight: 500;
    color: #800080;
    background-color: azure;
    margin-bottom: 10px;
    border-bottom: 1px thin white;
}


#contentTwo {
font-family: Roboto Condensed, sans-serif;
    font-size: 1.5rem;
    color: #800080;
}

#contentTwo li {
    list-style-type: none;
    margin-bottom: 10px;
}

#contentThree {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #800080;
    margin-bottom: 10px;
}

input[type="text"] {
    border: 2px solid #800080;
    border-radius: 0.5em;
}
input[type="email"] {
    border: 2px solid #800080;
    border-radius: 0.5em;
}
input[type="contact"] {
    border: 2px solid #800080;
    border-radius: 0.5em;
}

#blurb {
    border: 2px solid #800080;
    border-radius: 0.5em;
}
 button {
    border: 3px solid #300230;
    font-weight: 600;
    padding: 2px 5px;
    margin: 5px;
    border-radius: 1.5em;
    transition: background-color 0.25s ease-in, color 0.25s ease-in;
 }

 button:hover, button:focus {
background-color: #800080;
color: white;
 }

 footer {
    padding: 20px;
    background-color: #800080;
    margin-top: 0%;
    color: black;
    font-weight: bolder;
    font-size: 1.5em;
 }

 footer, a {
    color: #000000;
 }
 footer, a:hover {
    text-decoration: none;
    
 }

@media (max-width: 740px) {
    #contentOne {
        font-size: 1.2em;
    }
}
@media (max-width: 740px) {
    #contentTwo {
        font-size: 1.2rem;
    }
}
@media (max-width: 740px) {
    footer {
        font-size: 1.2em;
    }
}